<h1> Add New Category </h1>

<%= form_for @category, url: admin_categories_path do |f| %>
<%= f.text_field :title,  placeholder: "Title" %>
<%= f.text_field :description,  placeholder: "Description (Optional)" %>
<%= f.submit "Submit Category"%>
<% end %>
